@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

.custom-line-icons::after {
  content: "";
    display: inline-block;
    width: 0.125rem;
    height: 2rem;
    background-color: #00445c;
}

.custom-line-text::before {
content: "";
  display: inline-block;
  width: 0.125rem;
  height: 2rem;
  background-color: #00445c;
  transform: rotate(270deg);
  margin-right: 1.5rem;
  margin-top: 0.08rem;
}